body {
    padding-top: 100px;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 10px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.navbar-brand.brand{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
 }

.navbar-brand > img {
    padding-top: 5px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}



html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

tfoot {
    display: table-header-group;
}

#custs_table tbody{
    font-size: small;
    color: #111;
}

#custs_table table{
    border-bottom: 1px solid;
    
}


hr.style-seven {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

dataTables_wrapper {
    padding-right: 15px;
    padding-left: 15px;
}

